@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$main-font: 'Lato', sans-serif;
$cyan: #1bbc9b;
$gray: #444444;

body {
  width: 100%;
  height: 100vh;
  display: grid;
  font-family: $main-font;
}
.App {
  height: 100vh;
  display: flex;
  width: 1020px;
  margin: 0 auto;
  border: 1px solid red;
  justify-content: center;
}

.wrapper {
  width: 940px;
  display: grid;
  grid-template-rows: 95px 445px 680px 650px 500px 87px;
  border: 1px solid green;
}

.header {
  background: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $gray;
}

.header-logo {
  display: flex;
  flex-direction: row;
}

.company-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  background-image: url(./imgs/b-logo.png);
  width: 50px;
  height: 50px;
  margin-right: 12px;
}

.bla {
  font-size: 20px;
  font-weight: bold;
}

.subtitle {
  font-size: 14px;
}

.brand {

}

.portfolio {

}

.about-us {

}

.contacts {

}

.footer {

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
